@media all and (max-width: 940px) and (min-width: 200px){
    .gallery-content-ag figure{
        height:275px !important;
    }
}

@media all and (max-width: 840px) and (min-width: 200px){
    .gallery-content-ag figure{
        height:250px !important;
    }
}

@media all and (max-width: 782px) and (min-width: 200px){

    html.logged-in{
        margin-top:46px !important;
    }

    #alobaidi-gallery-bar{
        position:absolute !important;
    }

    .bar-content{
        padding-top:17px !important;
        padding-bottom:17px !important;
    }

    .bar-content img{
        top:10px !important;
    }

}

@media all and (max-width: 768px) and (min-width: 200px){
    .gallery-content-ag figure{
        height:225px !important;
    }

    .footer-content-ag{
        text-align:center !important;
    }

    .copyrights-ag, .social-ag{
        float:none !important;
        display:block !important;
    }

    .social-ag{
        margin-bottom:20px !important;
    }

    .gallery-content-ag figcaption span{
        opacity:1 !important;
        visibility:visible !important;
    }

    .gallery-content-ag img{
        opacity:1 !important;
    }
}

@media all and (max-width: 668px) and (min-width: 200px){
    .gallery-content-ag figure{
        height:200px !important;
    }
}

@media all and (max-width: 600px) and (min-width: 200px){
    .gallery-content-ag figure{
        height:175px !important;
    }
}

@media all and (max-width: 550px) and (min-width: 200px){
    .gallery-content-ag figure{
        height:150px !important;
    }
}

@media all and (max-width: 480px) and (min-width: 200px){
    .gallery-content-ag figure{
        display:block !important;
        width:100% !important;
        height:auto !important;
        margin-bottom:20px !important;
        padding:0 !important;
    }

    .gallery-content-ag figure:last-child{
        margin-bottom:0 !important;
    }
}