.copyrights-ag{
    float:right !important;
}

.social-ag{
    float:left !important;
}

.social-ag a:last-child{
    margin-right:10px !important;
}

.social-ag a:first-child{
    margin-right:0
}

.right-ag a:before{
    content:"\e806" !important;
}

.left-ag a:before{
    content:"\e807" !important;
}

#navigation-ag li:last-child{
    margin-right:10px !important;
}

#navigation-ag li:first-child{
    margin-right:0
}

.bar-content p{
    padding-left:0 !important;
    padding-right:36px !important;
}