@font-face { 
    font-family: "open-sans"  !important;
    src: url('open-sans.woff') format('woff')  !important;
    font-weight: normal  !important;
    font-style: normal  !important;
}

body{
    font-family: 'open-sans', sans-serif  !important;
    font-size:14px  !important;
    line-height:1.5  !important;
    color:#444  !important;
}

#alobaidi-gallery a{
    color: #444;
}

.clear-fix:before, .clear-fix:after{
    content: ""  !important;
    display: table  !important;
}

.clear-fix:after{
    clear: both  !important;
}

#header-ag{
    width:100%  !important;
    border-bottom:1px solid #f1f1f1  !important;
}

.header-content-ag{
    text-align:center  !important;
}

.header-content-ag h1{
    font-size:28px  !important;
}

.header-content-ag p{
    font-size:14px  !important;
    margin-top:10px  !important;
    color:#888  !important;
}

#footer-ag{
    width:100%  !important;
    background:#fff  !important;
    border-top:1px solid #f1f1f1  !important;
}

.footer-content-ag{
    font-size:12px  !important;
    color:#999  !important;
}

.global-style-ag{
    display:block  !important;
    margin:0 auto  !important;
    max-width:1024px  !important;
    box-sizing:border-box  !important;
    -webkit-box-sizing:border-box  !important;
    -moz-box-sizing:border-box  !important;
    padding:40px  !important;
}

#gallery-ag{
    font-size:0  !important;
    background:#f9f9f9  !important;
}

.gallery-content-ag{
    font-size:0  !important;
}

.gallery-content-ag figure{
    display:inline-block  !important;
    width:33.334%  !important;
    height:300px  !important;
    box-sizing:border-box  !important;
    -webkit-box-sizing:border-box  !important;
    -moz-box-sizing:border-box  !important;
    padding:2px  !important;
}

.gallery-content-ag figure a{
    width:100%  !important;
    height:100%  !important;
    font-size:0  !important;
    background:#000  !important;
    display: block  !important;
    position: relative  !important;
}

.gallery-content-ag figcaption{
    position:absolute  !important;
    width:100%  !important;
    left:0  !important;
    bottom:0  !important;
}

.gallery-content-ag figcaption span{
    display:block  !important;
    color:#fff  !important;
    text-shadow:1px -1px 1px #000  !important;
    font-size:12px  !important;
    text-align:center  !important;
    padding:20px  !important;
    box-sizing:border-box  !important;
    -webkit-box-sizing:border-box  !important;
    -moz-box-sizing:border-box  !important;
    background: linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0))  !important;
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0))  !important;
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0))  !important;
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 1))  !important;
    visibility:hidden  !important;
    opacity:0  !important;
    transition:all ease-in-out 0.3s  !important;
    -webkit-transition:all ease-in-out 0.3s  !important;
    -o-transition:all ease-in-out 0.3s  !important;
    -moz-transition:all ease-in-out 0.3s  !important;
}

.gallery-content-ag figure:hover figcaption span{
    visibility:visible  !important;
    opacity:1  !important;
}

.gallery-content-ag img{
    width:100%  !important;
    height:100%  !important;
    display:block  !important;
    opacity:0.7  !important;
    transition:all ease-in-out 0.3s  !important;
    -webkit-transition:all ease-in-out 0.3s  !important;
    -o-transition:all ease-in-out 0.3s  !important;
    -moz-transition:all ease-in-out 0.3s  !important;
}

.gallery-content-ag figure:hover img{
    opacity:1  !important;
}

p.no-posts-ag{
    font-size: 14px  !important;
    text-align: center  !important;
}

#navigation-ag{
    display:block  !important;
    padding-top:0  !important;
    text-align:center  !important;
}

#navigation-ag li{
    list-style:none  !important;
    line-height:1  !important;
    display:inline-block  !important;
    margin-right:10px  !important;
}

#navigation-ag li:last-child{
    margin-right:0  !important;
}

#navigation-ag li a{
    padding:5px  !important;
    display:block  !important;
    text-decoration: none  !important;
}

.right-ag a:before{
    font-family:'wptime-font-icons'  !important;
    content:"\e807"  !important;
    font-size:14px  !important;
    color:#444  !important;
}

.left-ag a:before{
    font-family:'wptime-font-icons'  !important;
    content:"\e806"  !important;
    font-size:14px  !important;
    color:#444  !important;
}

html.logged-in{
    margin-top:32px  !important;
}

#wp_footer-ag *{
    opacity: 0  !important;
    visibility: hidden  !important;
}

#wp_footer-ag #wpadminbar{
    opacity: 1  !important;
    visibility: visible  !important;
}

#wp_footer-ag #wpadminbar *{
    opacity: 1  !important;
    visibility: visible  !important;
}

.copyrights-ag{
    float:left  !important;
}

.social-ag{
    float:right  !important;
    font-size:0  !important;
}

.social-ag a{
    text-decoration:none  !important;
    color:#444  !important;
    font-size:0  !important;
    display:inline-block  !important;
    margin-right:10px  !important;
}

.social-ag a:last-child{
    margin-right:0  !important;  !important;
}

.social-ag a:before{
    font-family:"wptime-font-icons"  !important;
    border-radius:100%  !important;
    width:24px  !important;
    height:24px  !important;
    display:block  !important;
    font-size:12px  !important;
    text-align:center  !important;
    line-height:24px  !important;
    color:#fff  !important;
}

.social-ag a.fb-icon-ag:before{
    content:"\e809"  !important;
    background:#3b5998  !important;
}

.social-ag a.tw-icon-ag:before{
    content:"\e80a"  !important;
    background:#55acee  !important;
}

.social-ag a.ig-icon-ag:before{
    content:"\e80b"  !important;
    background:#3f729b  !important;
}

#alobaidi-gallery-bar{
    position:fixed  !important;
    top:0  !important;
    background:#444  !important;
    width:100%  !important;
    z-index: 999990  !important;
}

.bar-content{
    display:block  !important;
    margin:0 auto  !important;
    max-width:1024px  !important;
    height:12px  !important;
    padding:10px 40px  !important;
    position:relative  !important;
    line-height:12px  !important;
}

.bar-content img{
    width:26px  !important;
    height:26px  !important;
    position:absolute  !important;
    top:3px  !important;
    border-radius:100%  !important;
    -webkit-border-radius:100%  !important;
    -moz-border-radius:100%  !important;
    -o-border-radius:100%  !important;
}

.bar-content p{
    color:#fff  !important;
    font-size:12px  !important;
    padding-left:36px  !important;
}

.bar-content a{
    color:#fff  !important;
    text-decoration: underline  !important;
}

#fancybox-wrap{
    z-index: 999999 !important  !important;
}

.ag_hide_admin_bar #wpadminbar{
    display: none !important;
}